<table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Serial</th>
            <th>Description</th>
            <th>Comment (Editable)</th>
            <th>✔</th>
          </tr>
        </thead>
        <tbody>
      <% collection.each(function(log) { %>
          <tr id=<%= log.get('_id') %>>
          <td><%= (new Date(parseInt(log.get('_id').slice(0,8), 16)*1000)) %></td>
          <td><%= log.get('config')['id'] %></td>
          <td><%= log.get('config')['description'] %></td>
          <td contenteditable="true" class="comment">
            <div>
              <%= log.get('comment')%>
            </div>
          </td>
          <td><input id="checkbox" type="checkbox"></td>
          </tr>
      <% }); %>
      </tbody>
</table>

<input id="deleteSelected" type="button" class="btn" value="Delete Checked">
<input id="deleteAll" type="button" class="btn" value="Delete All">