<!-- <pre>
Description: <%= description %>
Serial Number: <%= id %>
Events needed to trigger an alarm: <%= eventsToTriggerAlarm %> events
Time to wait between alarms: <%= secondsToAlarm %> seconds
Event Weight: <%= eventWeight %>
Optical Power: <%= opticalpower %> microwatts
Temperature: <%= temperature %> °C
Wind Speed: <%= windspeed %> MPH
</pre> -->

<p>
<b>Name:</b> <%= description %>
</p>

<p>
<b>SN #:</b> <%= id %>
</p>

<p>
<b>Fiber Sensitivity:</b> <%= hwgain %>
</p>

<p>
<b>Event Averaging:</b> <%= eventTime %> seconds
</p>

<p>
<b>Event:Alarm Ratio:</b> <%= eventsToTriggerAlarm %>:1
</p>

<p>
<b>Wind Filter:</b> <%= attenuation %>
</p>

<p>
<b>Optical Power:</b> <%= opticalpower %> μW
</p>

<p>
<b>Temperature:</b> <%= temperature %> °C
</p>

<p>
<b>Wind Speed:</b> <%= windspeed %> MPH
</p>

<!-- x1: <%= x1 %>
x2: <%= x2 %>
y1: <%= y1 %>
y2: <%= y2 %> -->