<div class="navbar navbar-fixed-top" style="z-index: 10;">
    <div class="navbar-inner">
        <div class="container">
           <!-- <a class="brand" href="#"><b>Picokinetix</b></a> -->

            <div class="nav-collapse collapse">

                <ul class="nav">
                    <li class="live-menu"><a href="#live">Config</a></li>
                    <li class="logged-menu"><a href="#logged">Log</a></li>
                    <li class="action-menu"><a href="#action">Action</a></li>
                </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
 <audio id="audio" src="/audio/beep.wav"></audio> 
</div>
