<div class="container" style="margin-top: 50px">
<div class="container-fluid"><h2>Sensor Config</h2> 
    <div class="row-fluid"> 
        <div class="span3"> 
            <div class="well sidebar-nav"> 
                <ul id="selection" class="nav nav-list"> 
                    <li class="nav-header"></li> 
                </ul> 
            </div> 
        </div> 
        <div class="span9"> 
            <div id="fftplot" style="width:670px;height:350px;"></div> 
            <div id="config" class="config" style="margin-bottom: 50px; margin-top: 20px">
            </div>
        </div> 
    </div> 
</div> 
</div>